openapi: 3.1.0
info:
  title: Certificate Lifecycle Management API (Poor Man's PKI)
  description: |
    RESTful API for managing the full lifecycle of certificates in a lightweight PKI-like system.

    ## Certificate Lifecycle Rules Summary

    **Purposes** — Only `identity`, `encryption`, `signing` are supported.  
    • `identity`: one certificate per device (gateway/server); TLS client/server distinction lives **only** in KeyUsage/ExtendedKeyUsage fields.  
    • `encryption`: multiple allowed, distinguished by key hierarchy (e.g. BAA, RTG, Provider, Crypto).  
    • `signing`: typically one per recipient.

    **Statuses** — pending → active (explicit PATCH only) → expired (automatic) / revoked (explicit DELETE).

    **Creation & Renewal**  
    • New certificates (provision, CSR, device registration) are issued directly as **active**.  
    • Renewals create a new version in **pending** status (old version remains active until the new one is explicitly activated).  
    • **409 Conflict** returned if a pending renewal version already exists for the same recipient + purpose.

    **Activation** — Only `pending` → `active` via PATCH is supported.

    **Revocation** — DELETE marks as `revoked`; optional reason in body.

    **Retrieval**  
    • Telescopic: basic info → /details (parsed fields + issuerChain) → /content (PEM + optional trustChainPem).  
    • `?fetchContent=true` is a **convenience parameter intended for single-certificate endpoints** (by certId, device sub-resources, /encryption/{key}).  
      It is ignored (or may return 400 in strict mode) on list-style endpoints that can return multiple records.  
    • Content control:  
      - `?includePublic=true/false` (default true)  
      - `?includePrivate=true/false` (default false)  
      - `?includeChain=true/false` (default true) — when false, `trustChainPem` field is omitted from content responses

    **Device Projections**  
    • Gateways support `/identity`, `/signing` (404 if none), `/encryption` (404 if none), and `/bundle` (full content package with mandatory trustChainPem for identity).  
    • Servers only have identity certificate.

    **Security**  
    All operations require **both** `X-API-Key` and client certificate headers (`X-Client-Cert-CN` + `X-Client-Cert-DN`) forwarded by reverse proxy.

    **Errors** — Standardized as `application/problem+json` (RFC 9457): 400, 401, 404, 409 (pending conflict).
    
  version: 2.0.0
  contact:
    name: Elisha Ebenezer

servers:
  - url: https://api.pki.learning.eeworx.dev/v2
    description: Production (v2)
  - url: https://api-dev.pki.learning.eeworx.dev/v2
    description: Development / staging


tags:
  - name: Certificates
    description: Core certificate operations
  - name: Devices
    description: Gateway & server projections + bundle
  - name: Encryption
    description: Encryption certificate hierarchy lookup

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for authentication and authorization
    ClientCertCN:
      type: apiKey
      in: header
      name: X-Client-Cert-CN
      description: Forwarded Common Name from client certificate (mTLS terminated at proxy)
    ClientCertDN:
      type: apiKey
      in: header
      name: X-Client-Cert-DN
      description: Forwarded Distinguished Name from client certificate (mTLS terminated at proxy)

  schemas:
    PemComponent:
      type: object
      properties:
        content:
          type: string
          description: PEM-encoded content
        checksum:
          type: string
          description: SHA-256 hex checksum of the decoded content
      required: [content, checksum]

    Validity:
      type: object
      properties:
        from:
          type: string
          format: date-time
        till:
          type: string
          format: date-time
      required: [from, till]

    RecipientIdentifier:
      type: object
      properties:
        type:
          type: string
          enum: [serial, hostname, orgId, name]
        id:
          type: string
      required: [type, id]

    CertificateBasic:
      type: object
      properties:
        certId:
          type: string
          description: Serial Number (SN)
        cn:
          type: string
        dn:
          type: string
        validity:
          $ref: '#/components/schemas/Validity'
        version:
          type: integer
        purpose:
          type: string
          enum: [identity, encryption, signing]
        status:
          type: string
          enum: [active, expired, pending, revoked]
        recipientType:
          type: string
          enum: [gateway, server, provider, master]
        recipientIdentifier:
          $ref: '#/components/schemas/RecipientIdentifier'
      required:
        - certId
        - cn
        - dn
        - validity
        - version
        - purpose
        - status
        - recipientType
        - recipientIdentifier

    CertificateDetails:
      allOf:
        - $ref: '#/components/schemas/CertificateBasic'
      type: object
      properties:
        subject:
          type: object
          properties:
            commonName:
              type: string
            organization:
              type: string
            organizationalUnit:
              type: string
            country:
              type: string
            state:
              type: string
            locality:
              type: string
          additionalProperties: true
        issuer:
          type: object
          properties:
            commonName:
              type: string
            organization:
              type: string
            organizationalUnit:
              type: string
            country:
              type: string
            state:
              type: string
            locality:
              type: string
          additionalProperties: true
        keyUsage:
          type: array
          items:
            type: string
        extendedKeyUsage:
          type: array
          items:
            type: string
        publicKeyAlgorithm:
          type: string
        signatureAlgorithm:
          type: string
        issuerChain:
          type: array
          items:
            type: object
            properties:
              commonName:
                type: string
              dn:
                type: string
            required: [dn]
          description: Structured issuer hierarchy from immediate issuer to root

    CertificateContent:
      type: object
      properties:
        certPem:
          $ref: '#/components/schemas/PemComponent'
        privatePem:
          $ref: '#/components/schemas/PemComponent'
        trustChainPem:
          type: array
          items:
            $ref: '#/components/schemas/PemComponent'
          description: PEM-encoded trust chain (intermediates + root) with checksums. Omitted when includeChain=false.

    GatewayCertBundle:
      type: object
      properties:
        identity:
          type: object
          properties:
            certPem:
              $ref: '#/components/schemas/PemComponent'
            privatePem:
              $ref: '#/components/schemas/PemComponent'
            trustChainPem:
              type: array
              items:
                $ref: '#/components/schemas/PemComponent'
              description: PEM-encoded trust chain for the identity certificate (mandatory)
          required: [certPem, privatePem, trustChainPem]
        signing:
          type: object
          properties:
            privatePem:
              $ref: '#/components/schemas/PemComponent'
          required: [privatePem]
        encryption:
          type: array
          items:
            type: object
            properties:
              keyId:
                type: string
              certPem:
                $ref: '#/components/schemas/PemComponent'
              privatePem:
                $ref: '#/components/schemas/PemComponent'
            required: [keyId, certPem, privatePem]

    CertificateProvisionRequest:
      type: object
      properties:
        purpose:
          type: string
          enum: [identity, encryption, signing]
        recipientType:
          type: string
          enum: [gateway, server, provider, master]
        recipientId:
          type: string
        orgId:
          type: string
        validityDays:
          type: integer
          default: 365
      required: [purpose, recipientType, recipientId]

    GatewayRegistrationRequest:
      type: object
      properties:
        serialNo:
          type: string
        orgId:
          type: string
      required: [serialNo]

    ServerRegistrationRequest:
      type: object
      properties:
        hostname:
          type: string
        orgId:
          type: string
      required: [hostname]

    StatusUpdateRequest:
      type: object
      properties:
        status:
          type: string
          enum: [active]
      required: [status]

    RevocationRequest:
      type: object
      properties:
        reason:
          type: string

    ProblemDetail:
      type: object
      properties:
        type:
          type: string
          format: uri-reference
          example: https://example.com/errors/pending-conflict
        title:
          type: string
          example: Conflict
        status:
          type: integer
          example: 409
        detail:
          type: string
          example: A pending certificate already exists for this recipient and purpose.
        instance:
          type: string
          format: uri
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
      required: [title, status, detail]

  parameters:
    CertIdParam:
      name: certId
      in: path
      required: true
      schema:
        type: string
      description: Certificate Serial Number (SN)
    GwSerialParam:
      name: gw-serial
      in: path
      required: true
      schema:
        type: string
      description: Gateway serial number
    HostnameParam:
      name: hostname
      in: path
      required: true
      schema:
        type: string
      description: Server hostname
    FetchContentParam:
      name: fetchContent
      in: query
      schema:
        type: boolean
        default: false
      description: Include PEM content in the response (intended for single-record endpoints)
    IncludePublicParam:
      name: includePublic
      in: query
      schema:
        type: boolean
        default: true
      description: Include public certificate PEM (default true; false omits certPem)
    IncludePrivateParam:
      name: includePrivate
      in: query
      schema:
        type: boolean
        default: false
      description: Include private key PEM (default false; false omits privatePem)
    IncludeChainParam:
      name: includeChain
      in: query
      schema:
        type: boolean
        default: true
      description: Include trust chain PEM (default true; false omits trustChainPem field)
    FormatParam:
      name: format
      in: query
      schema:
        type: string
        enum: [json, xml, zip]
        default: json
      description: Bundle format (json default)

  responses:
    Unauthorized:
      description: Authentication failed (missing or invalid API key or client certificate headers)
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
    NotFound:
      description: Resource not found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
    BadRequest:
      description: Invalid request (validation error, malformed body, etc.)
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'
    Conflict:
      description: Conflict (e.g. pending certificate exists)
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ProblemDetail'

security:
  - ApiKeyAuth: []
    ClientCertCN: []
    ClientCertDN: []

paths:
  /certificates:
    get:
      tags: [Certificates]
      operationId: listCertificates
      summary: Search certificates (basic info, one row per version)
      description: |
        Returns basic info for certificates matching the query filters.  
        Intended for targeted lookups (all certs for a device, provider, server).  
        Returns **200 OK with empty array []** when no certificates match.
      parameters:
        - name: for
          in: query
          schema:
            type: string
            enum: [gateway, server, provider, master]
          description: Recipient type filter
        - name: id
          in: query
          schema:
            type: string
          description: Recipient ID
        - name: idtype
          in: query
          schema:
            type: string
            enum: [sn, name, serial, hostname, orgId]
          description: ID type
        - name: purpose
          in: query
          schema:
            type: string
            enum: [identity, encryption, signing]
        - name: status
          in: query
          schema:
            type: string
            enum: [active, expired, pending, revoked]
        - name: dn
          in: query
          schema:
            type: string
        - name: sort
          in: query
          schema:
            type: string
          description: |
            Sort by field(s). Prefix '-' for descending. Examples: validity.from, -version, status,cn
      responses:
        '200':
          description: List of basic certificate records
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CertificateBasic'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Certificates]
      operationId: provisionCertificate
      summary: Provision a new certificate
      description: |
        Provisions a new certificate, issued directly in **active** status.  
        Returns 409 if a pending renewal already exists for this recipient + purpose.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateProvisionRequest'
      responses:
        '201':
          description: Certificate provisioned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateBasic'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'

  /certificates/from-csr:
    post:
      tags: [Certificates]
      operationId: signCsr
      summary: Sign a Certificate Signing Request (CSR)
      description: |
        Accepts a PEM-encoded CSR and issues a signed certificate.  
        The subject (CN/DN) is taken from the CSR and used as the primary identifier.  
        - If an active certificate already exists for the same CN/DN → treated as renewal → new version created in **pending** status.  
        - If no existing certificate → issued directly in **active** status.  
        - Returns **409 Conflict** if a pending version already exists for this CN/DN.  
        Optional recipientType/recipientId can be supplied for validation/context (must match CSR subject if provided).  
        Backend may override/validate fields (expiry, SANs, etc.).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                csrPem:
                  type: string
                  description: PEM-encoded CSR
                purpose:
                  type: string
                  enum: [identity, encryption, signing]
                recipientType:
                  type: string
                  enum: [gateway, server, provider, master]
                recipientId:
                  type: string
                validityDays:
                  type: integer
                  default: 365
              required: [csrPem, purpose]
      responses:
        '201':
          description: Certificate signed (active if new, pending if renewal)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateBasic'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'

  /certificates/{certId}:
    parameters:
      - $ref: '#/components/parameters/CertIdParam'
    get:
      tags: [Certificates]
      operationId: getCertificate
      summary: Get Basic Cert Info
      description: |
        Basic certificate information.  
        ?fetchContent=true embeds content (cert, optional private/chain per include params).
      parameters:
        - $ref: '#/components/parameters/FetchContentParam'
        - $ref: '#/components/parameters/IncludePublicParam'
        - $ref: '#/components/parameters/IncludePrivateParam'
        - $ref: '#/components/parameters/IncludeChainParam'
      responses:
        '200':
          description: Basic certificate information
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CertificateBasic'
                  - type: object
                    properties:
                      basic:
                        $ref: '#/components/schemas/CertificateBasic'
                      content:
                        $ref: '#/components/schemas/CertificateContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      tags: [Certificates]
      operationId: renewCertificate
      summary: Renew certificate (new pending version)
      description: |
        Creates a new pending version for renewal (old certificate remains active).  
        Returns 409 if a pending version already exists.
      responses:
        '201':
          description: New pending certificate created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateBasic'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

    patch:
      tags: [Certificates]
      operationId: updateCertificateStatus
      summary: Transition status (pending → active)
      description: |
        Activates pending certificate.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatusUpdateRequest'
      responses:
        '200':
          description: Status updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateBasic'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Certificates]
      operationId: revokeCertificate
      summary: Revoke certificate
      description: |
        Marks certificate as revoked. Optional reason.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevocationRequest'
      responses:
        '200':
          description: Certificate revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateBasic'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /certificates/{certId}/details:
    parameters:
      - $ref: '#/components/parameters/CertIdParam'
    get:
      tags: [Certificates]
      operationId: getCertificateDetails
      summary: Get Full Cert Info
      description: |
        Parsed details (subject, issuer, usages, algorithms, issuerChain).  
        ?fetchContent=true embeds content (cert, optional private/chain per include params).
      parameters:
        - $ref: '#/components/parameters/FetchContentParam'
        - $ref: '#/components/parameters/IncludePublicParam'
        - $ref: '#/components/parameters/IncludePrivateParam'
        - $ref: '#/components/parameters/IncludeChainParam'
      responses:
        '200':
          description: Full certificate details
          content:
            application/json:
              schema:
                type: object
                properties:
                  details:
                    $ref: '#/components/schemas/CertificateDetails'
                  content:
                    $ref: '#/components/schemas/CertificateContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /certificates/{certId}/content:
    parameters:
      - $ref: '#/components/parameters/CertIdParam'
    get:
      tags: [Certificates]
      operationId: getCertificateContent
      summary: Get PEM content only
      description: |
        PEM content (cert, optional private/chain per include params).  
        If includeChain=false, trustChainPem omitted.
      parameters:
        - $ref: '#/components/parameters/IncludePublicParam'
        - $ref: '#/components/parameters/IncludePrivateParam'
        - $ref: '#/components/parameters/IncludeChainParam'
      responses:
        '200':
          description: Certificate PEM content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /certificates/encryption:
    get:
      tags: [Encryption]
      operationId: listEncryptionCertificates
      summary: List encryption certificates by key
      description: |
        Matching encryption certificates for key query.
      parameters:
        - name: key
          in: query
          schema:
            type: string
            example: RTG/BAA/LILLIPUT/ORGID
      responses:
        '200':
          description: Matching encryption certificates (basic)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CertificateBasic'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /certificates/encryption/{key}:
    parameters:
      - name: key
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Encryption]
      operationId: getEncryptionCertificate
      summary: Get encryption certificate by key
      description: |
        Encryption certificate for exact key.  
        ?fetchContent=true embeds content (cert, optional private/chain per include params).
      parameters:
        - $ref: '#/components/parameters/FetchContentParam'
        - $ref: '#/components/parameters/IncludePublicParam'
        - $ref: '#/components/parameters/IncludePrivateParam'
        - $ref: '#/components/parameters/IncludeChainParam'
      responses:
        '200':
          description: Encryption certificate
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CertificateBasic'
                  - type: object
                    properties:
                      basic:
                        $ref: '#/components/schemas/CertificateBasic'
                      content:
                        $ref: '#/components/schemas/CertificateContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /devices/gateways:
    post:
      tags: [Devices]
      operationId: registerGateway
      summary: Register a new gateway
      description: |
        Registers gateway and provisions identity, signing certs in **active** status.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GatewayRegistrationRequest'
      responses:
        '201':
          description: Gateway registered with certificates
          content:
            application/json:
              schema:
                type: object
                properties:
                  serialNo:
                    type: string
                  certificates:
                    type: array
                    items:
                      $ref: '#/components/schemas/CertificateBasic'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'

  /devices/gateways/{gw-serial}:
    parameters:
      - $ref: '#/components/parameters/GwSerialParam'
    get:
      tags: [Devices]
      operationId: getGateway
      summary: Get gateway overview
      description: |
        Returns gateway metadata + list of **all** its certificates (basic info only – no content).  
        Use purpose-specific sub-resources for individual access or /bundle for full content.Gateway + certificates     
      responses:
        '200':
          description: Gateway metadata + list of all certificates
          content:
            application/json:
              schema:
                type: object
                properties:
                  serialNo:
                    type: string
                  certificates:
                    type: array
                    items:
                      $ref: '#/components/schemas/CertificateBasic'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /devices/gateways/{gw-serial}/identity:
    parameters:
      - $ref: '#/components/parameters/GwSerialParam'
    get:
      tags: [Devices]
      operationId: getGatewayIdentityCert
      summary: Get gateway identity certificate
      description: |
        Single identity certificate.  
        ?fetchContent=true embeds content (cert, optional private/chain per include params).
      parameters:
        - $ref: '#/components/parameters/FetchContentParam'
        - $ref: '#/components/parameters/IncludePublicParam'
        - $ref: '#/components/parameters/IncludePrivateParam'
        - $ref: '#/components/parameters/IncludeChainParam'
      responses:
        '200':
          description: Identity certificate
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CertificateBasic'
                  - type: object
                    properties:
                      basic:
                        $ref: '#/components/schemas/CertificateBasic'
                      content:
                        $ref: '#/components/schemas/CertificateContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /devices/gateways/{gw-serial}/signing:
    parameters:
      - $ref: '#/components/parameters/GwSerialParam'
    get:
      tags: [Devices]
      operationId: getGatewaySigningCert
      summary: Get gateway signing certificate
      description: |
        Signing certificate (404 if none).  
        ?fetchContent=true embeds content (cert, optional private/chain per include params).
      parameters:
        - $ref: '#/components/parameters/FetchContentParam'
        - $ref: '#/components/parameters/IncludePublicParam'
        - $ref: '#/components/parameters/IncludePrivateParam'
        - $ref: '#/components/parameters/IncludeChainParam'
      responses:
        '200':
          description: Signing certificate
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CertificateBasic'
                  - type: object
                    properties:
                      basic:
                        $ref: '#/components/schemas/CertificateBasic'
                      content:
                        $ref: '#/components/schemas/CertificateContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /devices/gateways/{gw-serial}/encryption:
    parameters:
      - $ref: '#/components/parameters/GwSerialParam'
    get:
      tags: [Devices]
      operationId: getGatewayEncryptionCert
      summary: Get gateway encryption certificate
      description: |
        Encryption certificate (404 if none).  
        ?fetchContent=true embeds content (cert, optional private/chain per include params).
      parameters:
        - $ref: '#/components/parameters/FetchContentParam'
        - $ref: '#/components/parameters/IncludePublicParam'
        - $ref: '#/components/parameters/IncludePrivateParam'
        - $ref: '#/components/parameters/IncludeChainParam'
      responses:
        '200':
          description: Encryption certificate
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CertificateBasic'
                  - type: object
                    properties:
                      basic:
                        $ref: '#/components/schemas/CertificateBasic'
                      content:
                        $ref: '#/components/schemas/CertificateContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /devices/gateways/{gw-serial}/bundle:
    parameters:
      - $ref: '#/components/parameters/GwSerialParam'
    get:
      tags: [Devices]
      operationId: getGatewayCertBundle
      summary: Get complete certificate bundle
      description: |
        Returns a complete content bundle for gateway bootstrapping:  
        • identity: cert + private key  
        • signing: private key only  
        • encryption: array of certs (with keyId), each with cert + private key  
        Supports ?format=json (default), xml, or zip.

        format=zip: files named per JSON keys  
        - identity/cert.pem  
        - identity/private.key  
        - identity/trust-chain.pem (concat or separate)  
        - signing/private.key  
        - encryption/BAA/cert.pem  
        - encryption/BAA/private.key  
        etc.
      parameters:
        - $ref: '#/components/parameters/FormatParam'
      responses:
        '200':
          description: Gateway certificate bundle
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayCertBundle'
            application/xml:
              schema:
                type: string
                description: Equivalent XML structure
            application/zip:
              schema:
                type: string
                format: binary
                description: ZIP archive with PEM files organized by type/keyId
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /devices/servers:
    post:
      tags: [Devices]
      operationId: registerServer
      summary: Register a new server
      description: |
        Registers server and provisions identity cert in **active** status.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerRegistrationRequest'
      responses:
        '201':
          description: Server registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  hostname:
                    type: string
                  certificate:
                    $ref: '#/components/schemas/CertificateBasic'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'

  /devices/servers/{hostname}:
    parameters:
      - $ref: '#/components/parameters/HostnameParam'
    get:
      tags: [Devices]
      operationId: getServer
      summary: Get server identity certificate
      description: |
        Server metadata + identity certificate.  
        ?fetchContent=true embeds content (cert, optional private/chain per include params).
      parameters:
        - $ref: '#/components/parameters/FetchContentParam'
        - $ref: '#/components/parameters/IncludePublicParam'
        - $ref: '#/components/parameters/IncludePrivateParam'
        - $ref: '#/components/parameters/IncludeChainParam'
      responses:
        '200':
          description: Server + identity certificate
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      hostname:
                        type: string
                      certificate:
                        $ref: '#/components/schemas/CertificateBasic'
                  - type: object
                    properties:
                      hostname:
                        type: string
                      certificate:
                        $ref: '#/components/schemas/CertificateBasic'
                      content:
                        $ref: '#/components/schemas/CertificateContent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
